body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgb(64, 179, 224),rgb(10, 182, 110));  
    height: 100vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.account{
    background-color: #ffffff;
    height: auto;
    width: 40%;
    padding-bottom: 30px;
   
}
h1 {
    margin: 46px 0;
    color: green;
    text-align: center;
}
.form-group{
    margin: 20px auto;
    width: 70%;
    padding: 10px 10px 10px 5px;
    outline: none;
    border-radius: 1px;
    background-color: whitesmoke;
}
.form-control{
    width: 90%;
    margin-left: 1px;
    height: inherit;
    outline: none;
    border: 0;
    background-color: whitesmoke;
}
.Wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content:space-evenly;
}

.Wrapper button{
    outline: none;
    border-radius: 25px;
    padding: 8px 35px;
    border: 0;
    font-size: 0.6em;
    cursor: pointer;
}

.sign-up-btn {
    background-image: linear-gradient(to right, rgb(14, 197, 112), rgb(20, 90, 221));
} 
.sign-up-btn:hover {
    background-image: none;
    background-color: rgb(97, 97, 160);
}
.sign-up-btn:active {
    background-image: none;
    background-color: darkblue;
} 